<div class="main">

  <% if @results %>
  <h2>Search Results</h2>

  <p class="searchSummary">
    Showing <strong><%= @results.length %></strong> results for &quot;<%= @query %>&quot; <a href="/search">clear search</a>
  </p>
  <ul class="feeds">
    <% @results.each do |result| %>
    <li class="feed">
      <h3 class="title"><a href="<%= result["object"]["permalinkUrl"] %>"><%= result["object"]["summary"] %></a></h3>
      <blockquote class="summary"><%= raw result["object"]["content"] %></blockquote>
    </li>
    <% end %>

    <% end %>
  </ul>

</div>

<div class="secondary">

  <%= form_tag(search_path, :method => :get) do %>

  <fieldset>

    <legend>Search Results</legend>

    <p>Please provide a search query below (e.g. <a href="/search?utf8=✓&q=awesome">awesome</a>):</p>

    <div>
      <label for="query">Query</label>
      <input type="text" class="field required" size="30" id="query" name="q" value="<%= @query %>">
    </div>

  </fieldset>					

  <div class="submit"><button type="submit">Search</button></div>					

  <% end %>

</div>